%h1 Welcome To The LFA Site

- @articles.each do |article|
  %h2= link_to article.title, article
  %p Published at
  = articles.created_at.strftime('%b %d, %Y')
  %p= truncate(article.content, length: 200)

  